{
	"plugins": ["prettier-plugin-tailwindcss", "prettier-plugin-sort-imports"],
	"bracketSameLine": true,
	"printWidth": 250,
	"useTabs": true,
	"vueIndentScriptAndStyle:": true,
	"singleAttributePerLine:": true,
	"arrowParens": "always"
}
